[Unit]
Description=auto-cpufreq PowerProfiles DBus shim
After=dbus.service auto-cpufreq.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/auto-cpufreq-ppd-shim
Restart=on-failure

[Install]
WantedBy=multi-user.target
